@model Domain.ContaCliente

@{
    ViewData["Title"] = "Deposito";
}


<h2>Deposito</h2>

<h4>Conta</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Deposito">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdContaCliente" class="control-label"></label>
                <input asp-for="IdContaCliente" class="form-control" />
                <span asp-validation-for="IdContaCliente" class="text-danger"></span>
                <input type="submit" asp-action="BuscarContaClienteDeposito" value="Buscar" class="btn btn-warning" />
            </div>

            <div class="form-group">
                <label class="col-md-12 control-label" for="ValorDeposito">Valor depósito R$</label>
                <div class="col-md-12">
                    <input id="ValorDeposito" name="ValorDeposito" type="text" placeholder="Valor depósito R$" class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Depositar" class="btn btn-success" style="width:100%" />
            </div>
        </form>
    </div>


    <div class="col-md-6">

        @*-------------------------------Conta encontrada--------------------------------*@
        <div class="form-group">
            <label class="col-md-12 control-label" for="IdConta">Id Conta</label>
            <div class="col-md-12">
                <input id="Id" asp-for="IdContaCliente" name="IdContaCliente" type="text" disabled placeholder="Numero da conta" class="form-control input-md">
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-12 control-label" for="Titular">Titular</label>
            <div class="col-md-12">
                <input id="Nome" asp-for="Pessoa.Nome" name="ContaClienteNome" type="text" disabled placeholder="Titular" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 control-label" for="Cpf">CPF</label>
            <div class="col-md-12">
                <input id="Cpf" asp-for="Pessoa.Cpf" name="ContaClienteCPF" type="text" disabled placeholder="CPF titular" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 control-label" for="Saldo">Saldo</label>
            <div class="col-md-12">
                <input id="Saldo" asp-for="Saldo" name="Saldo" type="text" disabled placeholder="Saldo R$" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 control-label" for="CriadoEm">Cliente desde</label>
            <div class="col-md-12">
                <input id="CriadoEm" asp-for="CriadoEm" name="CriadoEm" type="text" disabled placeholder="Data de cadastro" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 control-label" for="Status">Status</label>
            <div class="col-md-12">
                <input id="Status" asp-for="Status" name="Status" type="text" disabled placeholder="Status" class="form-control input-md">
            </div>
        </div>

        <div class="col-md-12">
            <input type="submit" style="width:100%" value="Limpar" onclick="window.location.reload();" class="btn btn-danger" />
        </div>

    </div>
</div>

<div>
    <a asp-action="Index">Retornar para lista</a>
</div>