@model Bank.Controllers.ContaClienteController

@{
    ViewData["Title"] = "Saque";
}
<head>
    Saque
</head>
<body>

    @*<label asp-for="ValorSaque">Informe o montante que deseja sacar:</label>
    <input value="Valor saque" asp-for="ValorSaque" />
    <input type="submit" value="" class="btn btn-primary" />*@

</body>