@model Domain.Movimentacao

@{
    ViewData["Title"] = "Conta";
}

<h2>Extrato por conta</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Conta">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

            </div>

            <div class="form-group">
                <label asp-for="ContaOrigem.IdContaCliente" class="control-label"></label>
                <input asp-for="ContaOrigem.IdContaCliente" class="form-control" />
                <span asp-validation-for="ContaOrigem.IdContaCliente" class="text-danger"></span>
                <input type="submit" asp-action="BuscarContaClienteSaque" value="Buscar" class="btn btn-warning" />
            </div>

            @if (Model != null)
            {
                <div class="form-group">
                    @*<input type="submit" value="Gerar extrato" class="btn btn-success" style="width:100%" />*@
                    <a asp-action="ExtratoPorCliente" asp-route-id="@Model.ContaOrigem.IdContaCliente" class="btn btn-sucess" style="width:100%; background-color:mediumseagreen">Gerar extrato</a>
                </div>
            }

        </form>
    </div>


    <div class="col-md-4">
        <div class="alert-warning" style="text-align:center; margin-bottom:5%">
            <b>Conta Origem</b>
        </div>
        <hr style="color:black; background-color:gray;" />
        @*-------------------------------Conta encontrada--------------------------------*@
        <div class="form-group">
            <label class="col-md-12" for="IdConta">Conta de origem</label>
            <div class="col-md-12">
                <input id="Id" asp-for="ContaOrigem.IdContaCliente" name="IdContaCliente" type="text" disabled placeholder="Numero da conta" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12" for="IdConta">Tipo Conta</label>
            <div class="col-md-12">
                <input id="Id" asp-for="ContaOrigem.ContaDoCliente.Nome" name="ContaCliente" type="text" disabled placeholder="Tipo da conta" class="form-control input-md">
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-12" for="Titular">Titular</label>
            <div class="col-md-12">
                <input id="Nome" asp-for="ContaOrigem.Pessoa.Nome" name="ContaClienteNome" type="text" disabled placeholder="Titular" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12" for="Cpf">CPF</label>
            <div class="col-md-12">
                <input id="Cpf" asp-for="ContaOrigem.Pessoa.Cpf" name="ContaClienteCPF" type="text" disabled placeholder="CPF titular" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12" for="Saldo">Saldo</label>
            <div class="col-md-12">
                <input id="Saldo" asp-for="ContaOrigem.Saldo" name="Saldo" type="text" disabled placeholder="Saldo R$" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12" for="CriadoEm">Cliente desde</label>
            <div class="col-md-12">
                <input id="CriadoEm" asp-for="ContaOrigem.CriadoEm" name="CriadoEm" type="text" disabled placeholder="Data do cadastro" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12" for="Status">Status</label>
            <div class="col-md-12">
                <input id="Status" asp-for="ContaOrigem.Status" name="Status" type="text" disabled placeholder="Status" class="form-control input-md">
            </div>
        </div>

        <div class="col-md-12">
            <input type="submit" style="width:100%" value="Limpar" class="btn btn-danger" />
        </div>

    </div>

</div>


